/*----------------------------Header----------------------------------*/

/*----------------------NAVBAR-------------------------*/

.navbar {
  

  background-color: rgb(211, 228, 202) !important;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
}

.navbar-brand img {
  max-width: 100px;
  height: auto;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-color: #fff; /* Color del ícono */
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  margin-top: 10px;
}

.navbar-nav .nav-item {
  margin: 5px 0;
}

.navbar-brand img {
  max-width: 200px;
  height: auto;
}

/*Boton de pagina actual de otro color*/
.SoloTexto {
  
  color: white;
  padding: 10px 15px;
  border: 2px solid black;
  margin: 0.1px;
  border-radius: 5px;
}

.btn-img {
  width: 30%;
  border: 0.01px solid black;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.btn {
  margin-bottom: 5px;
  background-color: white;
  color: blue;

}

@media screen and (min-width: 769px) {
  .navbar-brand img {
      max-width: 1200px; 
      height: auto;
      margin-right: 20px; 
  }

  .navbar-nav .nav-item {
      margin: 15px 0; /* Aumenta el espaciado vertical entre los botones */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand img {
    max-width: 100%; 
    /* height: auto; */
    padding-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .navbar-brand img {
    max-width: 80%; /*  ancho al 100%???? */
    padding-left: 7rem;
  }
}

/*----------------------------Body----------------------------------*/

/*-------------------Carrusel--------------------------*/

.carousel-inner img {
  max-width: 100%;
  max-height: 300px;
  /* Ajusta la altura máxima deseada para las imágenes */
  width: auto;
  height: auto;
}


@media (max-width: 767px) {
  .carousel-inner img {
    height: 200px;
    /* Ajusta la altura deseada para dispositivos pequeños */
  }
}

.search {
  display: grid;
  justify-content: center;
  background-color: rgb(216, 220, 198) !important;
}

.title {
  font-size: 24px;
  /* Tamaño de la fuente */
  color: #333;
  /* Color del texto */
  text-align: center;
  /* Alineación del texto */
  background-color: #f0f0f0;
  /* Color de fondo */
  padding: 10px;
  /* Espacio interno alrededor del contenido */
  border: 1px solid #ccc;
  /* Borde */
  border-radius: 8px;
  /* Radio del borde */
  margin-top: 20px;
  /* Margen superior */
}


/*-----------------------*SCRIPT CARDS--------------------------*/

.event-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.event-card img {
  max-width: 100%;
  height: auto;
}

.event-card h2 {
  margin-top: 10px;
}

.white-background {
  background-color: #ffffff;
}

@media (min-width: 768px) {
 
  .event-card {
    
    flex: 0 0 calc(33.333% - 1rem); /* Espacio entre las tarjetas */
    max-width: calc(33.333% - 1rem);
    margin-right: 1rem; /* Espacio entre las tarjetas */
    margin-bottom: 1rem; /* Espacio entre las filas */
  }
}



/*-------------------------------------------Footer-------------------------------------------*/
.footer {
  font-weight: bold;
  background-color: rgb(216, 220, 198) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

/*----------------------------ContactUS----------------------------------*/
.contact-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

/*----------------------------Stats----------------------------------*/
.main-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 1vh;

}


.table-stats th,
td {
  border: 1px solid;

}

.table-stats th {
  background-color: gray;
}

.contact-form .container {
  max-width: 600px;
  margin: 20px auto; /* Agrega margen alrededor del formulario */
  padding: 20px; /* Agrega un poco de espacio interno */
}

  
  
