/*----------------------------Header----------------------------------*/

/*----------------------NAVBAR-------------------------*/

.navbar {
  

  background-color: rgb(211, 228, 202) !important;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
}

.navbar-brand img {
  max-width: 100px;
  height: auto;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-color: #fff; /* Color del ícono */
}

.navbar-collapse {
  text-align: center;
}


.navbar-brand img {
  max-width: 200px;
  height: auto;
}

/*Boton de pagina actual de otro color*/
.SoloTexto {
  
  color: white;
  padding: 10px 15px;
  border: 2px solid black;
  margin: 0.1px;
  border-radius: 5px;
}



@media screen and (min-width: 769px) {
  .navbar-brand img {
      max-width: 1200px; 
      height: auto;
      margin-right: 20px; 
  }


}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand img {
    max-width: 100%; 
    /* height: auto; */
    padding-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .navbar-brand img {
    max-width: 80%; /*  ancho al 100%???? */
    padding-left: 7rem;
  }
}

/*----------------------------Body----------------------------------*/

/*-------------------Carrusel--------------------------*/

.carousel-inner img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
}


@media (max-width: 767px) {
  .carousel-inner img {
    height: 200px;
  }
}

.search {
  display: grid;
  justify-content: center;
  background-color: rgb(216, 220, 198) !important;
}

.title {
  font-size: 24px;
   color: #333;
    text-align: center;
   background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
  
}


/*-----------------------*SCRIPT CARDS--------------------------*/

.card-img-top {
  width: 100% !important; /* ancho para que la imagen ocupe todo la tarjeta */
  height: 200px !important; /*altura de las imágenes */
  object-fit: cover !important; /* la imagen sin deformarse */
}
.card-text {
  max-height: 80px;
  overflow: hidden;
  display: -webkit-box; /* Esto es necesario para algunas versiones de navegadores WebKit */
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Para forzar el corte de palabras en navegadores antiguos */
}

/* Añadir los puntos suspensivos manualmente */
.card-text-description::after {
  content: "...";
  display: inline;
}


@media (min-width: 768px) {
 
  .event-card {
    
    flex: 0 0 calc(33.333% - 1rem); 
    max-width: calc(33.333% - 1rem);
    margin-right: 1rem; 
    margin-bottom: 1rem;
  }
}



/*-------------------------------------------Footer-------------------------------------------*/
.footer {
  font-weight: bold;
  background-color: rgb(216, 220, 198) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

/*----------------------------ContactUS----------------------------------*/
.contact-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

/*----------------------------Stats----------------------------------*/
.main-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 1vh;

}


.table-stats th,
td {
  border: 1px solid;

}

.table-stats th {
  background-color: gray;
}

.contact-form .container {
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px; 
}

  
  
